<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/x-icon" href="~/woodgrove-favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/woodgrovedemo.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bs-stepper.min.css">

    <!--- Font ---->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header">
        <div class="container" style="padding-top: 30px; padding-bottom: 30px;">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a asp-page="/Index">
                        <img src="/images/logo.png" height="24" alt="Woodgrove logo" style="padding-left: 10px;" />
                    </a> <a class="navbar-brand" asp-area="" asp-page="/Index" style="padding-left: 15px;">Woodgrove
                        Groceries</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarContent">
                        <div class="navbar-nav me-auto mb-2">

                        </div>
                        <lu class="navbar-nav">
                            <partial name="_LoginPartial" />
                        </lu>
                    </div>
                </div>
            </nav>
            @RenderSection("Jumbotron", required: false)
    </header>

    @RenderSection("FullScreen", required: false)

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- About this demop -->
    <button id="offcanvasButton" class="btn btn-success" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" onclick="showUseCase(2);"><i
            class="bi bi-arrow-up-circle fs-3"></i>&nbsp;&nbsp; <span class="fs-5">Select a use case</span></button>

    <div class="offcanvas offcanvas-end" data-bs-scroll="false" tabindex="-1" id="offcanvasRight"
        aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <img src="/images/logo.png" height="34" alt="Woodgrove logo" />
            <h3>About the demo</h3>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div id="scroller" style="transform: translate(0px, 0px) translateZ(0px);">
                @if (IsSectionDefined("AboutThisDemo"))
                {
                    @RenderSection("AboutThisDemo", required: false)
                }
                else
                {
                    <partial name="AboutThisDemoPartial" />
                }

            </div>
        </div>
    </div>

    <!-- Feedback button --->
    <div id="feedbackButton">
        <a class="btn btn-success feedback" data-bs-offset="10,-100" data-toggle="popover" data-bs-placement="top"
            title="Provide feedback" href="https://github.com/microsoft/woodgrove-groceries/issues/new"><i
                class="bi bi-megaphone"></i>&nbsp; Feedback</a>
    </div>

    <!--Image fullscreen-->
    <div class="modal" tabindex="-1" id="imagemodal">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background-color: black;">
                <div class="modal-body" style="text-align: center;">
                    <a type="button" data-bs-dismiss="modal">
                        <img src="" class="imagepreview" style="width: 100%;">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div style="height: 80px;"></div>
    </div>

    <!-- Footer -->
    <footer class="border-top footer text-muted" style="border-top-style: none!important; height: 100px;">
        <svg viewBox="0 -20 700 110" width="100%" height="110" preserveAspectRatio="none">
            <path transform="translate(0, -20)" d="M0,10 c80,-22 240,0 350,18 c90,17 260,7.5 350,-20 v50 h-700"
                fill="rgb(5, 166, 2)" />
            <path d="M0,10 c80,-18 230,-12 350,7 c80,13 260,17 350,-5 v100 h-700z" fill="rgb(222, 238, 222)" />
        </svg>
        <div class="container-fluid footer-text"
            style="width: 100%; top: -60px; position: relative; background-color: rgb(222, 238, 222);">
            &copy; 2024 - Woodgrove Groceries &nbsp; - &nbsp;&nbsp;
            <i class="bi bi-info-circle"></i> <a asp-area="" asp-page="/Help" style="padding-right: 10px;">Help</a>
            <i class="bi bi-lock"></i> <a asp-area="" asp-page="/Privacy" style="padding-right: 10px;">Privacy</a>
            <i class="bi bi-file-earmark-text"></i> <a asp-area="" asp-page="/tos" style="padding-right: 10px;">Terms of
                service</a>
            <i class="bi bi-github"></i> <a href="https://github.com/microsoft/woodgrove-groceries"
                style="padding-right: 10px;">Source code</a>
            <i class="bi bi-github"></i> <a href="https://github.com/microsoft/woodgrove-auth-api"
                style="padding-right: 10px;">Authentication API</a>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>


    <script src="https://cdn.jsdelivr.net/npm/bs-stepper/dist/js/bs-stepper.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false);
</body>

</html>
